.card-dashboard-product {
  margin-bottom: 15px;
  .card-body {
    .product-title {
      font-weight: normal;
      font-size: 18px;
      color: #0c0d36;
    }

    .product-category {
      font-weight: normal;
      font-size: 16px;
      color: #c5c5c5;
    }
  }
}
